*.class
*.log

# Package Files #
*.jar
*.war
*.ear
/trunk/clevercloud/build/
/trunk/clevercloud/dist/
/trunk/cleverAdministration/dist/
/trunk/Monitoring/dist/
/trunk/Monitoring/build/
/trunk/Monitoring/nbproject/private/
/trunk/cleverAdministration/build/